@keyframes slidein {
  from {
    opacity: 0.2;
    margin-top: -4rem;
  }

  to {
    opacity: 1;
    margin-top: 0rem;
  }
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  box-shadow: 0 0 15px #c0c0c0;
  flex-direction: column;
  place-items: top;
  transition: all .2s ease-in-out;
  animation: slidein;
  animation-duration: 2s;
  font-size: 12pt;
}

@media print {
  .container {
    display: block;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    box-shadow: none;
    zoom: 82%;
    overflow: hidden;
  }
}